.login-background {
    height: 600px;
    display: flex;
    background-color: #F4F5F8;
    margin: 70px 130px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 50px;

    .login-container {
        width: 400px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 200px;
        height: 450px;
        background-color: white;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: transparent;

        .login-content {
            padding: 20px;

            .text-login {
                text-align: center;
                font-weight: 600;
                font-size: 24px;
                padding-top: 10px;
            }

            .login-input {
                margin: 7px 0;

                .custom-input-password {
                    position: relative;

                    i {
                        position: absolute;
                        right: 8px;
                        top: 10px;
                        cursor: pointer;
                    }
                }
            }

            .btn-login {
                width: 100%;
                margin: 10px 0;
                height: 35px;
                border-radius: 15px;
                outline: none;
                border: none;
                color: white;
                font-size: 16px;
                background-color: #64B2A3;
            }

            .forgot-password {
                font-size: 15px;
            }

            .social-login {
                display: flex;
                text-align: center;
                justify-content: center;
                margin-top: 10px;

                .google {
                    font-size: 30px;
                    background-color: rgb(241, 35, 35);
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    margin-right: 10px;
                }

                .facebook {
                    font-size: 30px;
                    background-color: #307aff;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                }

            }
        }
    }

    .img-login {
        margin: auto 50px;

        .img-login-src {
            border-radius: 50px;
            width: 500px;
            height: 500px;
        }
    }
}