.section-customize {

    .customize-border {
        border-radius: 20px;
        background-color: white;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        border-radius: 20px;
        border: 2px solid rgba(255, 255, 255, .2);

    }
}