.booking-modal-container {

    .booking-modal-content {
        display: flex;
        flex-direction: column;

        .booking-modal-header {
            padding: 10px;
            border-bottom: 1px solid #ccc;

            .right {
                float: right;
                cursor: pointer;
            }

            .left {
                font-size: 15px;
                font-weight: 600;
                color: #333;
            }
        }

        .booking-modal-body {
            height: 100%;
            padding: 15px;
        }

        .booking-modal-footer {
            border-top: 1px solid #ccc;
            padding: 10px;
            display: flex;
            justify-content: flex-end;
            gap: 15px;

            button {
                border: none;
                outline: none;
                padding: 5px 8px;
                border-radius: 3px;
            }

            .btn-booking-confirm {
                background-color: #FFC04B;
            }

            .btn-booking-cancel {
                background-color: rgb(187, 187, 187);
            }
        }
    }
}

.modal-content {
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2) !important;
    border: 2px solid rgba(255, 255, 255, .2) !important;
}